<<<<<<< HEAD
$font-weights: ("regular": 400, "medium": 500, "bold": 700);
$font-zizes: ("h1": 45px, "h2": 19px, "p": 16px);
div {
    font-weight: map-get($font-weights, "bold");
}

section {
    h2 {
        font-size: map-get($map: $font-zizes, $key: h1);
    }
=======
$font-weights: ("regular": 400, "medium": 500, "bold": 700);
$font-zizes: ("h1": 45px, "h2": 19px, "p": 16px);
div {
    font-weight: map-get($font-weights, "bold");
}

section {
    h2 {
        font-size: map-get($map: $font-zizes, $key: h1);
    }
>>>>>>> 71ea898230905638c61a99ddbe935800e16456d9
}