%app-sub {
    display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-start;
        gap: 0 28px;
        padding-top: 247px;
        font-family: 'Noto Sans KR', sans-serif;
}
%cont-set {
    display: flex;
    justify-content: space-between;
    margin-top: 12px;
}
%cont-btn-set {
    width: 30%;
    font-size: 13px;
    padding: 6px 8px;
    border-radius: 5px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
}


#app {
    .vending-machine {
        @extend %app-sub;
        .cont-return {
            @extend %cont-set;
            .btn-return {
                @extend %cont-btn-set;
            }
        }
        .cont-put {
            @extend %cont-set;
            .btn-put {
                @extend %cont-btn-set;
            }
        }
        .cont-get {
            @extend %cont-set;
            .btn-get {
                @extend %cont-btn-set;
            }
        }
        position: relative;
        padding: 31px 27px 28px;
        .btn-item {
            display: block;
            width: 100%;
            height: 100%;
            .txt-item {
                display: inline-block;
                font-size: 12px;
                padding: 5px 15px;
                background-color: #6327FE;
                border-radius: 50px;
                color: #fff;
            }
        }
        .tit-item {
            display: block;
            font-size: 9px;
            margin: 5px auto;
        }
        .list-item {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            .img-item {
                width: 36px;
                height: 65px;
                margin: 0 auto;
            }

            li {
                position: relative;
                width: 30%;
                height: 130px;
                border-radius: 10px;
                box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);

                &::before {
                    &:active{
                        display: block;
                        position: absolute;
                        content: '';
                        /* width: 100%; */
                        /* height: 100%; */
                        width: 91px;
                        height: 130px;
                        top: -3px;
                        left: -3px;
                        border: 3px solid #6327FE;
                        border-radius: 10px;
                    }
                }
                .sold-out {
                    pointer-events: none;
                    &::before {
                        display: block;
                        position: absolute;
                        content: '';
                        width: 100%;
                        height: 100%;
                        top: 0;
                        left: 0;
                        z-index: 1;
                        border-radius: 10px;
                        background: no-repeat center / 58px 45px url(../img/Sold-out.png) rgba(0, 0, 0, 0.8);
                    }
                    &:nth-child(3)~li {
                        margin-top: 12px;
                    }
                }
            }
        }
    }
}

#app {
    .my-info {
        @extend %app-sub;
    }
}

.tit-app {
    top: 0;
    width: 100%;
    max-width: 386px;
    height: 180px;
    background: no-repeat center / 100% 100% url(../img/Logo_img.png);
}



